*, *::before, *::after {
    font-family: 'Open Sans', sans-serif;
}

.logo {
    position: absolute;
    top: .5rem;
    left: .5rem;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    /*overflow: hidden;*/
}

    .logo::before {
        content: "";
        background: url(imgs/sea.png);
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .logo::after {
    }
